main {
    background-image: none;
    align-self: center;
    justify-self: center;
    margin: 0;
    padding: 0px 0px;
    box-shadow: none;
}

iframe {
    margin: 0;
    padding: 0px 0px;
    box-shadow: 0 0 25px 20px rgba(9, 9, 9);
    margin-top: 270px;
    margin-bottom: 270px;
}

footer {
    margin: 0;
}
